<div id="app"></div>
<script type="text/javascript">

	function initApp() {
		App.templates = HandlebarsTemplates;
		App.routers.main = new AppClasses.Routers.Main();
		App.routers.profile = new AppClasses.Routers.Profile();
		App.routers.friends = new AppClasses.Routers.FriendsRouter();
		if(!Backbone.History.started)  {
			console.log("Backbone history started")
			Backbone.history.start(); // using anchor for routing
		}
	};

  initApp();
</script>
