<div id="app"></div>
<script type="text/javascript">

	function initApp() {
		App.templates = HandlebarsTemplates;
		App.routers.main = new AppClasses.Routers.Main();
		App.routers.profile = new AppClasses.Routers.Profile();
		App.routers.friends = new AppClasses.Routers.FriendsRouter();
		App.routers.admin = new AppClasses.Routers.AdminRouter();
		App.routers.guilds = new AppClasses.Routers.GuildsRouter();
		App.routers.games = new AppClasses.Routers.GameRouter();
		App.routers.chats = new AppClasses.Routers.ChatRouter();

    if (!App.models.user) {
        App.models.user = new AppClasses.Models.User(App.data.user);
    }
    App.models.user.fetch();

    if (!App.collections.users_no_self) {
        App.collections.users_no_self = new AppClasses.Collections.UsersNoSelf();
    }
    App.collections.users_no_self.myFetch();


    if (!App.collections.users_not_banned) {
        App.collections.users_not_banned = new AppClasses.Collections.UsersNotBanned();
    }
    App.collections.users_not_banned.myFetch();

    if (!App.collections.users_not_admin) {
        App.collections.users_not_admin = new AppClasses.Collections.UsersNotAdmin();
    }
    App.collections.users_not_admin.myFetch();
    
  
    if (!App.collections.users_admin_only) {
        App.collections.users_admin_only = new AppClasses.Collections.UsersAdminOnly();
    }
    App.collections.users_admin_only.myFetch();

    if (!App.collections.available_for_guild) {
        App.collections.available_for_guild = new AppClasses.Collections.AvailableForGuild();
    }
    App.collections.available_for_guild.myFetch();

    if (!App.collections.available_for_friends) {
        App.collections.available_for_friends = new AppClasses.Collections.NotFriends();
    }
    App.collections.available_for_friends.myFetch();

    if (!App.collections.guilds) {
        App.collections.guilds = new AppClasses.Collections.Guilds();
    }
    App.collections.guilds.fetch();

		if (!App.collections.groupchats) {
			App.collections.groupchats = new AppClasses.Collections.Groupchats();
		}
		App.collections.groupchats.myFetch();

		if(!Backbone.History.started)  {
			console.log("Backbone history started");
			Backbone.history.start(); // using anchor for routing
		}

		// const seconds = 15; // update every N seconds
    // setInterval(() => {
    //     App.models.user.fetch();
    //     App.collections.available_for_friends.myFetch();
    //     App.collections.available_for_guild.myFetch();
    // }, 1000 * seconds);
	}

  initApp();
</script>
