<div id="app"></div>
<script type="text/javascript">

	function initApp() {
		App.templates = HandlebarsTemplates;
		App.routers.main = new AppClasses.Routers.Main();
		App.routers.profile = new AppClasses.Routers.Profile();
		App.routers.friends = new AppClasses.Routers.FriendsRouter();
		App.routers.guilds = new AppClasses.Routers.GuildsRouter();
		App.routers.games = new AppClasses.Routers.GameRouter();

    if (!App.models.user) {
        App.models.user = new AppClasses.Models.User(App.data.user);
    }
    App.models.user.fetch(); // To reset the model to the db state

    if (!App.collections.users_no_self) {
        App.collections.users_no_self = new AppClasses.Collections.UsersNoSelf();
    }
    App.collections.users_no_self.myFetch(); // To reset the model to the db state

    if (!App.collections.guilds) {
        App.collections.guilds = new AppClasses.Collections.Guilds();
    }
    App.collections.guilds.fetch(); // To reset the model to the db state

		if(!Backbone.History.started)  {
			console.log("Backbone history started");
			Backbone.history.start(); // using anchor for routing
		}
	};

  initApp();
</script>
