<div id="app"></div>
<script type="text/javascript">

	function initApp() {
		App.templates = HandlebarsTemplates;
		App.routers.main = new AppClasses.Routers.Main();
		if(!Backbone.History.started)  {
			console.log("Backbone history started")
			Backbone.history.start(); // using anchor for routing
		}
	};

  App.data.user = {
    nickname: 'skrtks',
    email: 'samkortekaas@pm.me'
  }
  initApp();
</script>
