<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> New auth on your protected account !</p>
    <p>
    This is your tfa code : <br>
    --------------------------
    </p>
    <p>code: <%= @tfa_code %></p>
  </body>
</html>
